@import url('/node_modules/browser-style-normalizer/dist/index.css');

@font-face {
  font-family: Abril Fatface;
  src: url(/assets/fonts/Abril_Fatface/AbrilFatface-Regular.woff2);
}
@font-face {
  font-family: Work Sans_bold;
  src: url(/assets/fonts/Work_Sans/static/WorkSans-Bold.woff2);
  font-weight: bold;
}
@font-face {
  font-family: Work Sans_italic;
  src: url(/assets/fonts/Work_Sans/static/WorkSans-LightItalic.woff2);
  font-weight: italic;
}
@font-face {
  font-family: Work Sans_regular;
  src: url(/assets/fonts/Work_Sans/static/WorkSans-Regular.woff2);
  font-weight: normal;
}

:root {
  /* variables de couleurs */
  --black: #000000;
  --air_force_blue: #547D87;
  --charcoal: #2B4045;
  --sinopia: #D0451B;
  --white_smoke: #F5F5F6;

}

.header_home {
  background-image: url(assets/img/home.jpeg);
  background-size: cover;
  height: 20.5rem;
}

.nav_barre {
  display: flex;
  position: sticky;
  padding: 1rem;
  margin-bottom: 1.5rem;
  justify-content: space-between;
}

h1 {
  font-family: Abril Fatface;
  font-size: 40px;
  span { color : var(--air_force_blue)
  }
}

.header_home p {
  font-family: Work Sans_italic;
  font-size: 24px;
  padding-right: 1rem;
  text-align: right;
}
.header_home p span:first-child{
  font-family: Work Sans_bold;
  font-size: 32px;
  color: var(--sinopia);
}

.header_home p span:last-child{
  font-family: Abril Fatface;
  font-size: 32px;
  color: var(--air_force_blue);
}


/* PRODUITS */

.banner{
  background-color: #547D87;
  font-family: Abril Fatface;
  font-size: 40px;
  color: white;
  text-align: center;
  padding: 1rem;
}

.product_card{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem 1rem 1rem 0;
  border: solid var(--white_smoke);
  border-width: 0 8px 8px 0;
}

.product_card img{
  justify-content: center;
}

.product_card .produit{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  h3{
    font-family: Abril Fatface;
    font-size: 32px;
  }
  h4{
    font-family: Work Sans_regular;
    color: var(--air_force_blue);
    font-size: 16px;
  }
}

.product_card .produit .price{
  font-family: Abril Fatface;
  font-size: 32px;
  color: var(--sinopia);

}

.product_card p:last-of-type{
  font-family: Work Sans_regular;
  font-size: 16px;
  margin-bottom: 2rem;
}

.button{
  background-color: var(--air_force_blue);
  font-family: Abril Fatface;
  font-size: 24px;
  color: white;
  padding: 0.5rem 1rem;
  width: fit-content;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  
}


/* FOOTER */

.footer_mobile{
  background-color: var(--air_force_blue);
  color: white;
  font-family: Work Sans_regular;
  font-size: 20px;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;


}

.footer_mobile p{
  text-align: center;
  
}

.footer_mobile .mentions{ 
  display: flex;
  flex-direction: row; 
  padding-top: 1.5rem;
  margin-bottom: 2.5rem;
  justify-content: center;
}

.footer_mobile .mentions p:last-of-type{
  margin-left: 2rem;
}

.footer_mobile .liens{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Abril Fatface;
  font-size: 32px;
  color: var(--black);
  span{
    color: var(--white_smoke);
  }
}

.footer_mobile .social_media{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 24px;
}